/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  max-width: 330px;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

h1 {
  font-family: Nunito Sans;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 50px;
}

strong {
  font-family: Noto Serif;
  font-size: 50px;
  font-weight: 300;
}
.violet-part {
  background-color: #d7a1fd;
}

h2 {
  color: white;
  font-family: Noto Serif;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  line-height: 24px;
  padding: 15px;
}

nav {
  background-color: black;
  color: white;
  justify-content: space-around;
  text-align: center;
  font-weight: 300;
  font-size: 15px;
  padding: 20px;
  font-family: Noto Serif;
}

h3 {
  text-align: center;
  font-family: Noto Serif;
  font-weight: 300;
  font-size: 40px;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.desir-marea {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

p {
  text-align: center;
  font-family: Noto Serif;
  font-size: 15px;
  font-weight: 300;
  padding-top: 20px;
}

.photo-pink-border {
  border-color: #d7a1fd;
}

h4 {
  text-align: center;
  font-family: Nunito Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  margin-top: 15px;
}

.bouton-purpel {
  color: #d7a1fd;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 15px;
  font-style: italic;
  font-weight: 800;
  background: black;
}
